{% extends "base_shop.html" %}

{% block title %}
    О нашем магазине
{% endblock title %}


{% block header %}
    {{ block.super }}    
{% endblock header %}



{% block content %}
<div class="container m-auto">
    <dir class="container align-self-left ">
                
        {% load static %}

        <div class="row">                
            <div class="col-3 gx-5 py-5 align-self-center">
                <img class="card-img-top mb-5 mb-md-0" src="/static/images/portfolio_v2_arcadia_lg_1.jpg" alt="..." />
            </div>
            
            <div class="col gx-5 py-5 align-self-center">
                <p>"Добро пожаловать в наш уютный магазинчик 'Цветные петельки'!
                Меня зовут Анна, и вязание - это не просто мое хобби, это моя страсть, которая сопровождает меня со времен детства. 
                Всегда любила создавать уютные и теплые вещи своими руками, и вязание стало для меня неотъемлемой частью жизни.</p>
                
                <p>Многие годы я работала учителем физики в местной школе, но всегда находила время для вязания. 
                Вязание было моим способом расслабления и творческого самовыражения после уроков. 
                Я вязала для себя, для семьи, для друзей, и каждый мой творческий проект приносил радость и удовлетворение</p>

                <p>Живу я в прекрасном городе Ростове-на-Дону, где вязание - это не только хобби, но и настоящая традиция. 
                Мои узоры и изделия всегда привлекали внимание окружающих, и друзья часто просили меня связать что-то для них.</p>

                <p>Постепенно я осознала, что мое хобби может стать не только источником удовольствия, 
                но и успешным бизнесом. И вот уже пять лет я с гордостью предлагаю свои уникальные вязаные изделия в нашем магазине.
                Здесь вы найдете все - от теплых вязаных шарфов и свитеров до уютных домашних аксессуаров, сделанных с любовью и заботой.</p>

                <p>Моя цель - не просто продавать вещи, а делать вашу жизнь ярче, уютнее и теплее. 
                Ведь каждое мое изделие носит частичку моего сердца.</p>

                <p>Спасибо, что заглянули в наш магазин.
                Мы всегда рады поделиться с вами нашей любовью к вязанию и создать что-то особенное для вас!"</p>
            </div>
    </div>
</div>
{% endblock content %}
