{% extends "base_shop.html" %}

{% block title %}
    О нашем магазине
{% endblock title %}


{% block header %}
    {{ block.super }}    
{% endblock header %}



{% block content %}
<div class="container m-auto">
    <dir class="container align-self-left ">
                
        {% load static %}

        <div class="row">                
            <div class="col-3 gx-5 py-5 align-self-center">
                <img class="card-img-top mb-5 mb-md-0" src="" alt="" />
            </div>
            
            <div class="col gx-5 py-5 align-self-center">
                <h2>Оплата</h2>
                <p>Мы предлагаем удобные способы оплаты для вашего заказа. Вы можете выбрать один из следующих методов оплаты:</p>
                <ul>
                    <li>Наличными при получении: Оплата производится курьеру при получении вашего заказа.</li>
                    <li>Онлайн-оплата банковской картой: Вы можете оплатить ваш заказ онлайн с помощью банковской карты через нашу защищенную платежную систему.</li>
                    <li>Банковский перевод: Вы можете произвести оплату путем банковского перевода. Наши реквизиты будут предоставлены после оформления заказа.</li>
                </ul>    

                <h2>Доставка</h2>
                <p>Мы стремимся обеспечить быструю и надежную доставку вашего заказа. Мы сотрудничаем с проверенными курьерскими службами для доставки вашего заказа в кратчайшие сроки.</p>
                <ul>
                    <li>Курьерская доставка: Мы осуществляем доставку по всему городу Ростову-на-Дону собственным курьером. Время доставки будет согласовано с вами при оформлении заказа.</li>
                    <li>Доставка почтой: Мы также предлагаем доставку вашего заказа почтой в другие регионы России. Стоимость и время доставки будут рассчитаны в зависимости от вашего местоположения.</li>
                    <li>Самовывоз: Вы можете забрать ваш заказ самостоятельно из нашего магазина по адресу: улица Станиславского, дом 123, г. Ростов-на-Дону.</li>
                </ul>
                
                <p>Если у вас возникли вопросы относительно оплаты или доставки, пожалуйста, свяжитесь с нашей службой поддержки.</p>
            </div>
    </div>
</div>
{% endblock content %}
