{% extends 'base_shop.html' %}

{% block title %}
  Регистрация
{% endblock %}

{% block header %}
  {{ block.super }}
{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5 my-4">
        <div class="card">
          <div class="card-body">
            <form method="post">
              {% csrf_token %}

              {% for message in messages %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endfor %}

              {% if form.errors %}
                <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
              {% endif %}
              <h3 class="card-title text-center">Регистрация</h3>

              {{ form|crispy }}

              <div class="text-center mb-4">
                <button type="submit" class="btn btn-outline-dark my-2">Регистрация</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
