{% extends 'base_shop.html' %}

{% block title %}
  Заказ сохранён!
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-5 my-4">
        <div class="card">
          <div class="card-body">
            {% for message in messages %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
